# Upstash Redis para rate limit (free tier suficiente)
# https://console.upstash.com/
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
PORT=

# Chave API do Resend para envio do Correio Elegante
RESEND_CORREIO_ELEGANTE=